@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 2rem;
  font-family: "Fuzzy Bubbles", cursive;
  background: url("/photos/bg.jpg") center center/cover;
  color: white;
}
.game-container {
  display: grid;
  grid-template-areas:
    "cell-1 cell-2 cell-3"
    "cell-4 cell-5 cell-6"
    "cell-7 cell-8 cell-9";
  /* gap: 0.5rem; */
}
.game-cell {
  height: 8rem;
  width: 8rem;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 5px solid rgb(18, 161, 42);
}
.game-cell:nth-child(1) {
  border-width: 0 5px 5px 0;
}
.game-cell:nth-child(2) {
  border-width: 0 5px 5px 5px;
}
.game-cell:nth-child(3) {
  border-width: 0 0 5px 5px;
}
.game-cell:nth-child(4) {
  border-width: 5px 5px 5px 0;
}
.game-cell:nth-child(6) {
  border-width: 5px 0 5px 5px;
}
.game-cell:nth-child(7) {
  border-width: 5px 5px 0 0;
}
.game-cell:nth-child(8) {
  border-width: 5px 5px 0 5px;
}
.game-cell:nth-child(9) {
  border-width: 5px 0 0 5px;
}

h2 {
  font-size: xxx-large;
}
h4 {
  font-size: larger;
}
button {
  border-radius: 20px;
  width: 7rem;
  height: 2rem;
  cursor: pointer;
}
