@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 2rem;
  font-family: "Fuzzy Bubbles", cursive;
  background: url("/photos/bg.jpg") center center/cover;
  color: #cccccc;
}
.game-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
}
.game-cell {
  height: 6rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 3px solid #cccccc;
}

h2 {
  font-size: xxx-large;
}
h4 {
  font-size: larger;
}
button {
  border-radius: 20px;
  width: 7rem;
  height: 2rem;
  cursor: pointer;
}
.flex {
  display: flex;
}
.settings-box {
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 25%;
  left: 2rem;
}
.main-box {
  gap: 5rem;
}
#btn4 {
  margin-top: 1rem;
}
